#main {
  background: $pink;
  font-family: 'Roboto', sans-serif;
  padding: 50px 0px;
}

.app {
  background: #FFFFFF;
  border-bottom: 3px solid $light-gray;
  margin: 0 auto;
  max-width: 500px;
  min-width: 260px;
  padding: 20px;
  width: 60%;
}