Shortened URL Info
<div class="">
  Long URL: <a href="<%= @shortened_url.long_url %>"><%= @shortened_url.long_url %></a>
</div>
<div class="">
  Short URL: <a href="<%= @shortened_url.short_url %>"><%= @shortened_url.short_url %></a>
</div>